    /* Global */
/*<=============>*/
body {
    color: #092834;
    background: #1A3E4C;
}
/* This is used to hide the logout button when no one is logged in */
.hide {
    display: none;
}

    /* Map */
/*<==========>*/

/* This styles the whole container */
.map-box {
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 30px;
    background: #67AFCB;
    border-radius: 10px;
}
/* This styles the acutal map */
#map {
    border-radius: 10px;
    width: auto;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* This styles the popup box for users */
.mapboxgl-popup-content{
    font-size: 12px;
    font-weight: bold;
    width: 137px;
    height: 45px;
}