@import url('https://fonts.googleapis.com/css?family=Fredoka+One');    
    /* Global */
/*<=============>*/
body {
    color: #EBF5DF;
    background: #555B6E;
    font-family: 'Fredoka One', cursive;
}

li {
    color: #555B6E;
    text-shadow: none;
}
/* This is used to hide the logout button when no one is logged in */
.hide {
    display: none;
}

    /* Map */
/*<==========>*/

/* This styles the whole container */
.map-box {
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 30px;
    background:#8DAA91;
    border-radius: 10px;
    text-shadow: 0px 2px 2px #1A3E4C;
}
/* This styles the acutal map */
#map {
    border-radius: 10px;
    width: auto;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* This styles the popup box for users */
.mapboxgl-popup-content{
    font-size: 12px;
    font-weight: bold;
    width: 137px;
    height: 45px;
    color: #555B6E;
    text-shadow: none;
}

.signInHeader {
    text-align: center;
    color: #EBF5DF;
    text-shadow: 2px 2px #092834;
}

#btnLogout {
    background: #FED766;
    color: #555B6E;
}

#btnLogout:hover {
    background: #FE4A49;
    color: #EBF5DF;
}

#loginPage {
    width: 100%;
    height: 560px;
    border-radius: 10px;
    background-image: url('../images/pexels-photo-346696.jpeg');
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
}

#onlineList {
    background: #8DAA91;
}